.author__bio > br + br {
  display: none; // 혹시 줄간격 문제 예방
}

.author__bio {
  margin-bottom: 0.5em;
}

.author__company {
  margin-top: 0.5em;
  color: $muted-text-color;
  font-size: 0.9rem;
  display: flex;
  align-items: center;

  i {
    margin-right: 5px;
    font-size: 0.9rem;
  }
}

/* 내비게이션 및 사이드 메뉴 폰트 일관성 */
.masthead__menu a,
.sidebar__navigation a {
  font-family: "Lato", "Helvetica Neue", Helvetica, Arial, sans-serif;
  font-weight: 700;
}
